/* configurações básicas da página */
@font-face {
    font-family: [Futura BQ];
    src: local("./css/fonts/futura-demi-bold.otf") format('otf');
}
*{
    font-family: "Futura BQ"; 
    box-sizing: border-box;
    scroll-behavior: smooth;   
}
body{
    margin: 0;
    background-color: #ec8a02;
}
/* estilização do Header */
.header {
    background-color: #001623;
    color: #633490;
    top: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: space-around;
}
.navbar {
    display: flex;
    width: 500px;
    margin-top: 19px;
    justify-content: space-between;
    list-style: none;
    padding-top: 10px;
}
.navbar a{
    text-decoration: none;
    color: #633490;
}
.logincadastro{
    justify-content: space-around;
    display: flex;
    list-style: none;
    font-size: x-large;
}
.logincadastro li{
    margin-top: 2%;
}
.logincadastro a{
    margin: 30px;
    margin-left: 50px;
    text-decoration: none;
    color: #633490;
}
.header img{
    height: 70px;
    padding-top: 7px;
    margin-top: 10%;
}
/* estilização do Index */
/* estilização do Banner */
.banner{
    background-image: url('../css/imgs/bannerimg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 875px;
    width: 100%;
    font-size: 25px;
    color: #D02729;
    margin-top: 0px;
}
.banner h2{
    margin: 0px;
    padding-top: 375px;
    margin-left: 50px;
}
.banner p{
    margin-left: 50px;
}
.banner a{
    margin: 10px;
    margin-left: 50px;
    text-decoration: none;
    color: #633490;
}
.banner .botao{
    border: 3px solid white;
    color: #00439F;
    background-color: #D02729;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 10px 10px 10px;
}
.album img{
    height: 300px;
    border-radius: 8px;
}
.membros-container img{
    height: 400px;
    border-radius: 5px;
}
/* estilização dos membros */
.membros-container{
    margin-top: 100px;
    display: flex;
    margin-left: 18%;
    flex-direction: row;
}
.membros-container p{
    margin-right: 40%;
    margin-bottom: 10%;
}
/* estilização das eras da banda */
.timeline{
    display: flex;
    flex-direction: column;
    background-color: #D02729;
    color: #00439F;
}
.epocas{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00439F;
}
.epocas h2, ul, a{
    color: #00439F;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-size: xx-large;
}
.era{
    display: flex;
    flex-direction: column;
}
.era p{
    margin-left: 15%;
    margin-right: 15%;
}
.era h3{
    margin-left: 7%;
}
.era h2{
    margin-left: 7%;
}
.bttb{
    margin-top: -23.4%;
}
.era-text{
    display: flex;
    flex-direction: column;
}
.album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* estilização do login e cadastro */
.login-background{
    background-image: url("../css/imgs/sabbath-login.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 98px;
    height: 100%;
    width: 100%;
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-card{
    padding: 10%;
}
.
.login-card h2{
    margin-top: 0px;
}
/* estilização do Footer */
.footer{
    display: flex;
    background-color: #000000;
    bottom: 0px;
    position: sticky;
    justify-content: space-around;
    padding: 25px;
    color: #ec8a02;
    z-index: 0;
    bottom: 0;
}
.greeting{
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 15px;
}
.footer img{
    height: 70px;
}