/* configurações básicas da página */
@font-face {
    font-family: [Futura BQ];
    src: local("./css/fonts/futura-demi-bold.otf") format('otf');
}
*{
    font-family: "Futura BQ"; 
    box-sizing: border-box;
    scroll-behavior: smooth;   
}
body{
    margin: 0;
}
/* estilização do Header */
.header {
    background-color: #001623;
    color: #633490;
    top: 0;
    position: sticky;
    z-index: 999;
    display: flex;
    justify-content: space-around;
}
.navbar {
    display: flex;
    width: 500px;
    margin-top: 37px;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 10px;
}
.navbar a{
    text-decoration: none;
    color: #633490;
}
.logincadastro{
    justify-content: space-around;
    display: flex;
    list-style: none;
    font-size: x-large;
}
.logincadastro li{
    margin-top: 7%;
}
.logincadastro a{
    margin: 30px;
    margin-left: 50px;
    text-decoration: none;
    color: #633490;
}
.header img{
    height: 70px;
    padding-top: 7px;
    margin-top: 10%;
}
/* estilização do Index */
/* estilização do Banner */
.banner{
    background-image: url('../css/imgs/bannerimg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 875px;
    width: 100%;
    font-size: 25px;
    color: #D02729;
    margin-top: 0px;
}
.banner h2{
    margin: 0px;
    padding-top: 350px;
    margin-left: 50px;
}
.banner p{
    margin-left: 50px;
}
.banner a{
    margin: 8px;
    margin-left: 50px;
    text-decoration: none;
    color: #633490;
}
.banner .botao{
    border: 3px solid white;
    color: #00439F;
    background-color: #D02729;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 10px 10px 10px;
}
.album img{
    height: 300px;
    border-radius: 8px;
}
.membros-container img{
    height: 400px;
    border-radius: 5px;
}
/* estilização dos membros */
.membros-container{
    margin-top: 100px;
    display: flex;
    margin-left: 18%;
    flex-direction: row;
}
.membros-container p{
    margin-right: 40%;
    margin-bottom: 10%;
}
.ozzy{
    margin-top: -1.4%;
}
/* estilização das eras da banda */
.timeline{
    display: flex;
    flex-direction: column;
    background-color: #D02729;
    color: #00439F;
}
.epocas{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00439F;
}
.epocas h2, ul, a{
    color: #00439F;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    font-size: xx-large;
}
.era{
    display: flex;
    flex-direction: column;
}
.era p{
    margin-left: 15%;
    margin-right: 15%;
}
.era h3{
    margin-left: 7%;
}
.era h2{
    margin-left: 7%;
}
.bttb{
    margin-top: -23.4%;
}
.era-text{
    display: flex;
    flex-direction: column;
}
.era-album{
    margin-bottom: 10%;
}
.album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* estilização do login e cadastro */
.bodylogin{
    background-image: url("../css/imgs/sabbath-login.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 98px;
    margin: 0;
}
.bodycadastro{
    background-image: url("../css/imgs/sabbath-cadastro.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10px;
    margin: 0;
}
.login-background{
    color: #fefefe;
    display: flex;
    justify-content: center;
}
.cadastro-background{
    color: #fefefe;
    display: flex;
    justify-content: center;
}
.login-box{
    height: 0;
    width: 15%;
    margin-top: 4%;
}
.login-container{
    display: flex;
    justify-content: center;
    background-color: rgba(236, 138, 2, 0.7);
    width: 100%;
    border-radius: 25px;
    padding-top: 8%;
    margin-bottom: 100%;
}
.login-card{
    padding: 10%;
    margin-bottom: 10%;
}

.login-card h2{
    margin-top: 0px;
}

.buttondiv{
    display: flex;
    flex-direction: column;
}
.cadastro-background{
    color: #fefefe;
    display: flex;
    justify-content: center;
}
.cadastro-box{
    height: 70%;
    width: 40%;
    margin-top: 1.5%;
}
.cadastro-container{
    display: flex;
    justify-content: center;
    background-color: rgba(236, 138, 2, 0.7);
    width: 100%;
    border-radius: 25px;
    padding-top: 0%;
    margin-bottom: 0%;
}
.cadastro-card{
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 3%;
    margin-bottom: 0%;
    display: flex;
    gap: 15%;
    margin-left: -5%;
}
.cadastro-inputs{
    font-size:small;
}
.cadastro-inputs input{
    background-color: #fefefe;
    color: #000000;
}
.cadastro-select{
    font-size:small;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.cadastro-select h3{
    margin-bottom: 0%;
    margin-top: 19px;
}
.cadastro-select select{
    background-color: rgba(236, 138, 2, 0.0);
    border: solid;
    color: #000000;
}

.login-card h2{
    margin-top: 0px;
}
/* estilização do quiz */
.allcontentquiz{
    height: 100%;
}
.quiz-background{
    background-image: url("../css/imgs/sabbath-quiz.jpg");
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    }
.quiz-background .botao{
    margin-top: 22%;
    margin-left: 44.8%;
    border: 3px solid white;
    color: #00439F;
    background-color: #D02729;
    text-decoration: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 10px 10px 10px;
}
.pontuacao{
    display: flex;
    flex-direction: column;
    background-color: rgba(236, 138, 2, 0.5);
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
#pontuacaoDuranteJogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#pontuacaoFinalJogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#jogo{
    color: #D02729;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;
    padding-right: -8%;
    background-color: rgba(0, 67, 159, 0.7);
    height: 86%;
}
#infoQuestao{
    background-color: rgba(0, 67, 159, 0.9);
    padding: 1%;
    margin-top: -20%;
    border-radius: 50px;
}
#infoQuestaoGeral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -6%;
    margin-left: 9%;
}
#infoQuestaoGeral div{
    margin-bottom: 4%;
}
#perguntaDaQuestaoAtual{
    font-size: larger;
}
#opcoes input{

  border-radius: 50%;
  width: 19px;
  height: 19px;

  border: 2px solid #999999;
  transition: 0.2s all linear;
  margin-right: 3.5px;

  position: relative;
  top: 4px;
}
#botoes{
    border: solid;
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    margin-top: -2%;
}
#botoes button{
    border: solid;
    background-color: #D02729;
    border-radius: 5px;
    color: #00439F;
}
/* estilização da dashboard */
.allcontentdashboard{
    background-image: url("../css/imgs/sabbath-dashboard.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 98px;
    margin-top: -1.7%;
    padding-top: 2%;
    height: 85vh;
}
.dashboard-background{
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 1%;
    height: 80%;
    background-color: rgba(236, 138, 2, 0.5);
    display: flex;
    flex-direction: column;
}
.greeting-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}
.dados-dashboard{
    flex-direction: row;
    display: flex;
    margin-left: 10%;
}
.grafico-dashboard{
    height: 81.2%;
}
.pergunta-dashboard{
    font-size: x-large;
    color: #001623;
    margin-top: 2%;
}
#pergunta_span{
    color: #633490;
}
.album-dashboard{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.img-album{
    height: 225px;
    margin-top: 7%;
    border-radius: 3%;
}
.album_text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 7%;
}

#album_titulo{
    font-size: xx-large;
    margin-bottom: 10px;
}
#album_yr{
    font-size: x-large;
    margin-bottom: 10px;
}
#album_vocalista{
    font-size: x-large;
    margin-bottom: 10px;
}
#album_desc{
    font-size: larger;
    margin-bottom: 10px;
}
/* estilização do Footer */
.footer{
    display: flex;
    background-color: #000000;
    bottom: 0px;
    position: fixed;
    margin-top: 10%;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
    color: #ec8a02;
    z-index: 0;
    bottom: 0;
}
.greeting{
    font-size: x-large;
    padding-top: 20px;
    padding-bottom: 15px;
}
.footer img{
    height: 70px;
}